/** HEADER **/
.container-fluid{
	background-color: #808080;
}

#titulo{
	color: #000000;
	font-weight: bold;
}

#text{
	background-color: #808080;
	height: 1000px;
	width: 100%;
	overflow: auto;
}

h3{
	color: #000000;
	text-align: center;
}

/********** Small devices only **********/    
@media (max-width: 767px){
	#bs-example-navbar-collapse-1{
		background-color: #ffffff;
		text-align: center;
	}
}

