/********** Base styles **********/
* {
	box-sizing: border-box;
}

body{
	margin: 0px;
	padding: 0px;
}

h1{
	text-align: center;
}

h2{
	margin-top: 0px;
    float: right;
    border: 1px solid black;
}

.container {
  position: relative;
  border: 1px solid black;
  margin-left: 20px;
  background-color: #9e9e94; 
}

#chickenT{
    background-color: #ffccff;
}

#beefT{
	color: #ffffff;
	background-color: #ff0000; 
}

#sushiT{
	background-color: #ffff99;
}

p{
	margin: 40px 10px 5px 15px;
}

/********** Large devices only **********/

@media (min-width: 992px){
  .col-lg{
    float: left;
  }
  .container{
    width: 30%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px){
  .col-md {
    float: left;
  }
  .container {
    width: 45%
  }
  #sushiBar{
    margin-top: 20px;
    width: 92.5%;
    margin-right:50px; 
    clear: left;
  }
}

/********** Small devices only **********/    
@media (max-width: 767px){
  .container{
    margin-top: 25px;
    margin-right: 20px;  
  }
}